@use 'src/styles/helpers' as helpers;
@use 'src/styles/variables' as vars;

.pointerItem {
    gap: 1.2rem;
    display: flex;
    position: relative;

    &.sideSpaces {
        padding-left: 3rem;
    }

    @include helpers.setFont(
        secondary-font-medium,
        2rem,
        vars.$details-text
    );
    
    &:not(:first-child) {
        margin-top: 1.6rem;
    }
}