@use "src/styles/fonts";
@use "src/styles/helpers" as helpers;
@use "src/styles/variables" as vars;

.wrapper {
  width: 100%;
  height: 100%;
  @include helpers.flexibility("center", column);

  .sadFace {
    width: 4rem;
    height: 4rem;
    padding-bottom: 1.6rem;
  }

  .content {
    color: vars.$base-color;
    font-size: 1.6rem;
    @extend .primary-font-regular;
  }

  &.centered {
    height: 100vh;
  }
}
