@use 'src/styles/helpers' as helpers;
@use 'src/styles/variables' as vars;

.emojiWrapper {
    @include helpers.flexibility;
    @include helpers.setFont(
        secondary-font-medium,
        1.6rem,
        vars.$custom-text-color
    );

    gap: 0.8rem;
    cursor: pointer;
    border-radius: 0.8rem;
    padding: 0.6rem 1.2rem;
    color: vars.$custom-text-color;
    border: 1px dashed vars.$custom-border;
    background-color: vars.$custom-background;
}