@use "src/styles/helpers" as helpers;
@use "src/styles/variables" as vars;

.ingredient {
    height: 100%;
}

.flexEnd {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.formItemTitle {
    @include helpers.setFont(
        secondary-font-semibold,
        1.8rem,
        vars.$details-header
    );
}

.addAnotherItems {
    cursor: pointer;
    @include helpers.setFont(
        secondary-font-semibold,
        1.4rem,
        vars.$table-highlight-text
    );
}

.othersForm {
    .atnBtn {
        gap: 2.4rem;
        display: flex;
        align-items: center;

        :global {
            .ant-btn {
                min-width: 10rem;
                height: 3.6rem;
            }
        }
    }
}

.plantPartTable {
    border: 1px solid vars.$popup-border;
    border-radius: 1.2rem;
    padding: 1.2rem 2rem;

    :global {
        .ant-table-thead {
            height: 2rem;
        }
    }

    .tableHeader {
        @include helpers.setFont(
            secondary-font-medium,
            1.8rem,
            vars.$base-dark-color
        );
    }

    .tableData {
        @include helpers.setFont(
                secondary-font-regular,
                1.4rem,
                vars.$primary-black
            );
    }
}