@use "src/styles/helpers" as helpers;
@use "src/styles/variables" as vars;

.breadcrumb {
    .link {
        cursor: pointer;
        @include helpers.setFont(secondary-font-regular, 1.6rem, vars.$secondary-color);
    }

    .selectedItems {
        @extend .secondary-font-medium;
    }
}