@use 'src/styles/helpers' as helpers;
@use 'src/styles/variables' as vars;

.iconButton {
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
    border-radius: 1.2rem;
    @include helpers.flexibility;
    background-color: vars.$background-color-1;
    
    .icon {
        font-size: 2.2rem;
        color: vars.$primary-color;
    }
}